.hide {
  display: none;
  border: 1px solid red;
  width: 500px;
}

ul li.active {
  background: #000;
  color: #fff;
}

.accordion__item {
  width: 100%;
  border-top: 1px solid #fff;
}

.accordion__item:first-child {
  border: none;
}

.accordion__trigger {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  background-color: #007edf;
  border: none;
}

.accordion__item.is-open .accordion__trigger {
  color: #fff;
  background-color: #000;
}

.accordion__content {
  background-color: #fff;
}

.accordion__content p {
  margin: 0;
  padding: 20px;
}


.btn-primary {
    background-color: #ff5268;
    border-color: #ff5268;
    color: #fff;
}


.btn {
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8125rem;
    padding: 0.375rem 1rem;
}




.fancybox-content {
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
